.car__bodytype {
    color: #707070;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.car__type {
    margin: 0 0 10px 0;
    font-size: 16px;
}

.car__modelname {
    margin-right: 5px;
    color: #141414;
    font-size: 16px;
    font-weight: bold;;
}

.car__modeltype {
    font-size: 14px;
    color: #727272;
    font-weight: normal;
    display: inline-block;
}

.car__image {
    position: relative;
    padding-bottom: 75%;
    margin: 10px 0;
}

.car__links a:first-child {
    margin-right: 20px;
}