.custom__prev,
.custom__next {
    background-color: transparent;
    border: none;
    vertical-align: middle;
    line-height: 0;
    cursor: pointer;
}

.custom__prev[disabled],
.custom__next[disabled] {
    opacity: 0.5;
}

.custom__prev {
    transform: rotate(180deg);
}

.bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #141414;
    opacity: 0.2;
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;
}

.bullet__active {
    opacity: 1;
}
